@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v175/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}
  
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif, Arial, Helvetica;
}


/*Nav html*/


section {
    width: 100%;
    height: 100vh;
}
::selection{
    background-color: black;
    color: bisque ;
}


section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-top: 12px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15px;
    right: 0;
    left: 0;
    background: black;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.5);
    z-index: 2;
}
span {
    color: #25330F;
}

section nav ul {
    list-style: none;
}

section nav img {
    width: 260px;
    cursor: pointer;
    margin-left: 40px;
}

section nav ul li {
    display: inline-block;
    margin: 0px 15px;
}

section nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 17px;
}
section nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: bisque;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover:after {
    width: 100%;
}
section nav ul li a:hover {
    color: bisque;
}



/* end Nav html*/

#outter {
    background-size: cover; /*to specify that background img type */
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}


.sign-up-form {
    position: relative;
    top: 55%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    box-shadow: 0 0 3px;
    padding: 20px;
    text-align: center;
    border-radius: 12%;
    background: transparent;
    backdrop-filter: blur(15px) brightness(80%);
}

.sign-up-form h1 {
    color: #fff;
    margin-bottom: 30px;
    user-select: none;

}
.input-box {
    border: none;
    border-bottom: 2px solid #fff;
    font-size: large;
    color: #fff;
  
    padding: 10px;
    margin-bottom: 13px;
    width: 80%;
    background: transparent;
    
}

button {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    opacity: 0.7;
    border: 1px solid #999;
    
}

a {
    text-decoration: none;
    color: #fff;
    
}
p {
    color: #fff;
    margin: 0;
}

.sign-up-form p b:hover{
    color: rgb(75, 104, 235);
    text-decoration: underline;
}

#terms{
    font-size: 14px;
    display: inline;

}

hr{
    margin-bottom: 20px;
    margin-top: 10px;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.material-symbols-outlined {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 40px; 
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    user-select: none;
}


.checkbox{
    margin-top: 10px;
}

.input.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: rgb(75, 104, 235);
    cursor: pointer;
    padding: 7px 20px;
    font-size: medium;
    font-weight: 600;
    width: 85%;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.input.button input:hover{
    background: rgb(44, 70, 185);
}

input:focus{
    outline: none;
    
}

