{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'profile/css/style.css' %}">
    
</head> 
<body>
    <div class="container">
        <nav> 
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""> </a> 
            </div>
            
            {% if user_profile_pic %}
                <img class="profile" src="{{ user_profile_pic }}" alt="User Profile" id="ProfilePic">
            {% else %}
                <img class="profile" src="{% static 'images/defaultAvatar.png' %}" alt="User Profile" id="ProfilePic">
            {% endif %} 

            <h4 id="name">{{name}}</h4>
            <hr>
            <ul>
                <li> 
                    <a href="{% url 'home' %}">
                        <span class="material-symbols-outlined">home</span>
                        Home
                    </a>
                </li>
                {% if user.is_superuser %}

                <li  >
                    <a href="{% url 'dashboard' %}">
                        <span class="material-symbols-outlined">dashboard</span>
                        Dashboard
                    </a>
                </li>

                <li  ><a href="{% url 'addcuisine:addcuisine' %}">
                    <span class="material-symbols-outlined">food_bank</span>
                    Manage Cuisines
                </a></li>


                <li ><a href="{% url 'addrecipe:addrecipe' %}">
                    <span class="material-symbols-outlined">soup_kitchen</span>
                    Manage Recipes
                </a></li>
                <li  >
                    <a href="{% url 'addoccasion'%}">
                        <span class="material-symbols-outlined">diversity_3</span>
                        Manage Occasions
                    </a>
                </li>
                {% endif %}

                <li>
                    <button type="submit" value="Log out" id="Logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">log out</button>
                    <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                </li>

            </ul>
        </nav>

        
        <div class="content">
            <div class="container1">
                <div class="header">
                    <h2>Profile</h2>
                </div>
                <form id="ProfileForm" action="#">
                    {% csrf_token %}

                    {% if user_profile_pic %}
                        <img class="profile" src="{{ user_profile_pic }}" alt="User Profile" id="ProfilePic1">
                    {% else %}
                        <img class="profile" src="{% static 'images/defaultAvatar.png' %}" alt="User Profile" id="ProfilePic1">
                    {% endif %} 
                                        
                    <div class="ProfileButton">
                        <div class="b">    
                            <label for="ChangeProfilePic" class="file-input-label">
                                Change Profile Picture
                                <input type="file" id="ChangeProfilePic" accept="image/png, image/jpeg" >
                            </label> 
                        </div>
                    </div>

                    <div class="input">
                        <p>Name</p>
                        <input type="text" placeholder="Name" required id="NameField" readonly value="{{ name }}">
                        <div class="EditIcon" id="NewNameIcon">
                            <span class="material-symbols-outlined">edit</span>
                        </div>
                    </div>

                    
                    
                    <div class="input">
                        <p>Email</p>
                        <input type="email" placeholder="Email" required id="EmailField" readonly value="{{email}}">
                        <div class="EditIcon" id="NewEmailIcon">
                            <span class="material-symbols-outlined">edit</span>
                        </div>
                        <p id="statusMessage" style="font-weight: bold; text-align: center; margin-right: 40px;"></p>
                    </div>

                    

                
                    <hr>
                    <div class="links">
                        <a href="{% url 'updatepass' %}" class="button-link">Update Password</a>
                    </div>
                </form>                  
            </div>
        </div>
            </div>
            <script src="{% static 'profile/js/script.js' %}"></script>
        
    <style>
        .error {
            color: red;
            font-weight: bold;
            margin: 5px 0 5px 0;
        }
        .success {
            color: green;
            font-weight: bold;
            margin-top: 9px;
        }
    </style>

    </body>

</html>
        