*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* ICONS */

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v175/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}
  
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* ICONS */

body{
    background-color: #e7e7e7;
}

.container {
    display: flex;
}


/* NAV */

nav {
    min-width: 100px;
    max-width: 320px;
    flex: 1;
    height: 100vh;
    background: black;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.5);
    display: flex;
    flex-direction: column;
    color: white;
    position: sticky;
    top: 0;
}

nav .logo {
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 50px;
}

nav .logo img{
    width: 80%;
}

nav h4{
    color: white;
    align-self: center;
    padding-top: 20px;
}

nav hr {
    border: none;
    height: 1px;
    background-color: rgb(132, 132, 132); 
    margin: 20px 0px 5px 0px;
}
nav ul {
    list-style: none;
    display: flex;
    Flex-direction: column ;
} 

nav ul li  {
    width: 100%;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    flex-basis: 60px;
}

nav ul li a {
    display: block;
    width:100%;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 17px;
    border-radius: 4%;
    padding-left: 10px;
}

nav ul li a span{
    vertical-align: sub;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: bisque;
    display: block;
    transition: 0.2s linear;
}

nav ul li a:hover:after {
    width: 100%;
}
nav ul li a:hover {
    color: bisque;
}

.content {
    flex: 2; 
    padding: 20px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.grid{
    background-color: whitesmoke;
    position: absolute;
    width: 400px;
    height: 610px;
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 13px 1px black;
}

.grid div.height{
    height: 310px;
    text-align: center;
}

img.profile{
    width: 40%;
    margin-top: 60px;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 3px 1px black;
    object-fit: cover;
}

div.email h6, div.username h6{
    padding-left: 25px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 14px;
}

div.email input[type="email"], div.username input[type="text"]{
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 83%;
    height: 50px;
    box-shadow: 2px 2px 5px 1px black;
    padding-left: 10px;
    background-color: white ;
}

#submitButton{
    border: 2px black;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 25px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 65px;
}

#submitButton:hover{
    background-color: bisque;
}


.file-input-label {
    padding: 5px 8px;
    border: 0px solid #ccc;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    box-shadow: 1px 1px 3px black;
    transition: 0.4s ease-in-out;
}

.file-input-label span{
    font-size: 25px;
}

input[type="file"],.file-input-label input[type="text"],.file-input-label input[type="email"] {
    display: none;
}

.file-input-label:hover{
    background-color: white;
    color: black;
}

